div{
    background-color: chartreuse;
    color: red;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    
}
.pz{
    background-color: black;
    color: white;
}
.h3{
    background-color: aliceblue;
}